// 联系我们
.tpl-contact-wrap {
    h4 {
        margin: 35px 0 20px 0;
        font-size: 18px;
    }
    li {
        & + li {
            margin-top: 20px;
            border-top: 1px dashed $grey1;
        }
    }
    li > div {
        vertical-align: top;
        max-width: 370px;
        display: inline-block;
        margin-right: 40px;
        &:last-of-type {
            margin-right: 0;
        }
        &.tpl-contact-single {
            min-width: fit-content;
        }
    }
}